.App {
  text-align: center;
  margin: auto;
  position: relative;
  height: 100vh;
  min-height: 700px;
}

body {
  background: #000;
}

.rotate {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate::before {
  /* background: url("./assets/white2.jpg") no-repeat center center; */
  background: url("./assets/white1.jpg") no-repeat center center;
  background-size: cover;
  content: "";
  width: 200vh;
  height: 200vh;
  position: absolute;
  animation: spin 150s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}








/* ________________________________________________________________________________________________________________________________________________________ */
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media only screen and (min-width: 0) {
  .rotate::before {
    width: 200vh;
    height: 200vh;
  }
}
@media only screen and (min-width: 768px) {
  .rotate::before {
    width: 140vw;
    height: 140vw;
  }
} */

/* 
input {
  color: #FFF;
  background: transparent;
  border: none;
  outline: none;
}

html {
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: #123;
}

body, head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 0.006515893em 1.5676573214em 7px rgba(255, 0, 212, 0.9), -0.2911605278em 0.4578503178em 7px rgba(17, 255, 0, 0.9), 2.0446148581em 1.5131627774em 7px rgba(0, 124, 255, 0.9), 0.390382693em 1.7008388273em 7px rgba(255, 0, 240, 0.9), 0.7616925347em 1.5566953699em 7px rgba(39, 255, 0, 0.9), 0.1641148989em -0.3264930947em 7px rgba(237, 0, 255, 0.9), 2.0319362943em 2.1248250608em 7px rgba(0, 255, 118, 0.9), 1.8977319518em 0.6203175701em 7px rgba(8, 0, 255, 0.9), 0.2048912462em 0.6982918776em 7px rgba(0, 255, 69, 0.9), 1.3857716263em 1.374586716em 7px rgba(210, 0, 255, 0.9), -0.3738849112em 0.4026586554em 7px rgba(0, 255, 186, 0.9), 0.195015792em 2.1274135187em 7px rgba(0, 255, 177, 0.9), 2.0167264698em 2.3965011803em 7px rgba(0, 255, 120, 0.9), 0.8396503646em 2.0930215508em 7px rgba(255, 145, 0, 0.9), 1.1037855043em 1.8815363735em 7px rgba(255, 0, 51, 0.9), 2.372476263em 0.8002150072em 7px rgba(0, 107, 255, 0.9), -0.1704988782em 1.6554010631em 7px rgba(255, 237, 0, 0.9), -0.2405232698em 1.1147959422em 7px rgba(0, 101, 255, 0.9), 0.5799407832em 0.4629386401em 7px rgba(190, 0, 255, 0.9), 0.618154924em -0.2147436546em 7px rgba(77, 255, 0, 0.9), -0.2837451957em 1.2358390599em 7px rgba(255, 0, 92, 0.9), 0.8687877883em -0.4859682842em 7px rgba(205, 255, 0, 0.9), 1.7011453649em 1.7946374272em 7px rgba(194, 255, 0, 0.9), 1.3787931232em -0.3011973438em 7px rgba(255, 0, 110, 0.9), 0.818159658em 0.7444927578em 7px rgba(0, 255, 243, 0.9), -0.4113290082em 2.3081861444em 7px rgba(0, 255, 23, 0.9), 0.2004476378em 1.4782034598em 7px rgba(0, 255, 24, 0.9), 2.2689817369em 1.4126965117em 7px rgba(0, 244, 255, 0.9), 2.1645900331em 1.3952466589em 7px rgba(0, 137, 255, 0.9), 0.4913546088em 2.1423392832em 7px rgba(62, 0, 255, 0.9), 2.3137175951em 0.5957196102em 7px rgba(0, 1, 255, 0.9), 0.7571694651em 2.0414409987em 7px rgba(0, 255, 127, 0.9), 1.6227420671em -0.2309584187em 7px rgba(255, 0, 216, 0.9), 1.635276728em 0.5571133679em 7px rgba(0, 255, 220, 0.9), 0.5069894052em 0.3499149337em 7px rgba(25, 255, 0, 0.9), 1.9837655272em 0.4649889998em 7px rgba(255, 148, 0, 0.9), 0.6206094324em 0.7680812485em 7px rgba(228, 0, 255, 0.9), 0.1374835899em 0.6823958787em 7px rgba(0, 193, 255, 0.9), 2.3614027871em 1.0431531638em 7px rgba(255, 0, 202, 0.9), 0.0211147465em 1.6201100147em 7px rgba(117, 255, 0, 0.9), -0.295206228em 1.0583580121em 7px rgba(0, 33, 255, 0.9);
  animation-duration: 64s;
  animation-delay: -67s;
}

body::after {
  text-shadow: 0.3786237271em -0.3189584196em 7px rgba(237, 0, 255, 0.9), 1.6465069346em 0.5184312587em 7px rgba(0, 221, 255, 0.9), -0.2626689271em -0.4519560631em 7px rgba(255, 0, 255, 0.9), 0.783116842em 1.148361637em 7px rgba(255, 0, 25, 0.9), 1.7935282133em 1.4271863495em 7px rgba(0, 199, 255, 0.9), 0.6476905226em 0.2626495347em 7px rgba(255, 37, 0, 0.9), 1.2964587935em 0.5271629517em 7px rgba(192, 0, 255, 0.9), 1.7063866126em 1.552494234em 7px rgba(255, 9, 0, 0.9), 0.9468407042em -0.3362831599em 7px rgba(255, 0, 223, 0.9), 2.1893566357em 1.9644483076em 7px rgba(255, 0, 66, 0.9), 1.3286756501em 2.2728163661em 7px rgba(231, 0, 255, 0.9), 2.0338463419em 0.255789382em 7px rgba(255, 108, 0, 0.9), -0.4363746619em -0.0376568361em 7px rgba(172, 255, 0, 0.9), 0.0848496606em 1.6686134417em 7px rgba(0, 255, 210, 0.9), -0.2509258405em 1.9543620594em 7px rgba(0, 100, 255, 0.9), 1.6624430195em -0.338302073em 7px rgba(0, 41, 255, 0.9), 0.702800435em 0.5889535299em 7px rgba(0, 137, 255, 0.9), 1.0150097512em 0.643689078em 7px rgba(255, 0, 210, 0.9), 1.1047428403em -0.4659157969em 7px rgba(255, 123, 0, 0.9), 0.6111284317em 1.2470564386em 7px rgba(100, 255, 0, 0.9), 1.4415840341em 1.4189439749em 7px rgba(255, 239, 0, 0.9), 1.171022311em 0.7928661506em 7px rgba(255, 77, 0, 0.9), -0.4488644355em -0.3929995275em 7px rgba(106, 255, 0, 0.9), 0.5672652967em 0.0731938448em 7px rgba(0, 193, 255, 0.9), 1.0151806715em -0.207493635em 7px rgba(206, 0, 255, 0.9), 1.4737094011em 0.067248344em 7px rgba(0, 255, 156, 0.9), 2.1890006284em 0.8895466282em 7px rgba(147, 255, 0, 0.9), 0.7562026253em 1.0577521888em 7px rgba(255, 247, 0, 0.9), -0.1106664361em 2.3237126963em 7px rgba(233, 0, 255, 0.9), 1.0295191908em 2.058727814em 7px rgba(163, 255, 0, 0.9), 0.7189222097em 2.1129645885em 7px rgba(0, 10, 255, 0.9), 2.0548486728em 2.035063982em 7px rgba(255, 0, 112, 0.9), 0.0247305993em -0.1275363439em 7px rgba(255, 0, 45, 0.9), 0.0595466309em -0.1590362338em 7px rgba(255, 0, 206, 0.9), -0.0296718214em 1.9465712834em 7px rgba(119, 0, 255, 0.9), 2.2823049469em 0.0566450902em 7px rgba(0, 255, 27, 0.9), 0.4431720312em -0.1485068513em 7px rgba(0, 255, 82, 0.9), -0.4390425145em 1.6421661912em 7px rgba(255, 0, 216, 0.9), 1.1593770398em 0.6358512211em 7px rgba(0, 255, 139, 0.9), 1.7590529201em 0.8993745527em 7px rgba(255, 0, 74, 0.9), 2.2448155043em 1.456496506em 7px rgba(255, 188, 0, 0.9);
  animation-duration: 63s;
  animation-delay: -72s;
}

head::before {
  text-shadow: 1.3779448266em 0.852018791em 7px rgba(173, 255, 0, 0.9), 1.8529326372em 0.8961683024em 7px rgba(0, 105, 255, 0.9), 0.4467395827em 0.4482018703em 7px rgba(128, 255, 0, 0.9), 2.4428337498em -0.4633657524em 7px rgba(0, 79, 255, 0.9), 0.1131868366em 1.6252519291em 7px rgba(103, 0, 255, 0.9), 1.0759839538em -0.0999720845em 7px rgba(23, 255, 0, 0.9), 0.3952853378em 1.7618692623em 7px rgba(74, 255, 0, 0.9), -0.2854477396em 2.3669512346em 7px rgba(63, 0, 255, 0.9), -0.4429410919em -0.1094082957em 7px rgba(190, 0, 255, 0.9), -0.0827105824em 0.4889632726em 7px rgba(229, 0, 255, 0.9), 1.0429818725em -0.2210437282em 7px rgba(0, 40, 255, 0.9), -0.3553957646em -0.3108582304em 7px rgba(255, 0, 69, 0.9), 2.0612436218em 0.0650241805em 7px rgba(252, 255, 0, 0.9), 0.6648345485em -0.4062320288em 7px rgba(0, 255, 135, 0.9), -0.4602209173em 0.5868815913em 7px rgba(0, 234, 255, 0.9), -0.4740766762em 0.7764546615em 7px rgba(0, 255, 153, 0.9), 0.1298102918em 0.5264492214em 7px rgba(0, 140, 255, 0.9), -0.3557744796em 1.4508355061em 7px rgba(0, 55, 255, 0.9), 1.4945412918em 1.3179778688em 7px rgba(0, 255, 102, 0.9), 1.0156213586em -0.2802044294em 7px rgba(0, 55, 255, 0.9), 0.3101740941em 1.8635408316em 7px rgba(0, 184, 255, 0.9), 2.09477423em 0.7675580604em 7px rgba(255, 0, 194, 0.9), 1.1406129198em 0.1981612804em 7px rgba(0, 7, 255, 0.9), 2.0938228284em 1.1628862525em 7px rgba(255, 0, 243, 0.9), 1.480191927em -0.0933219087em 7px rgba(255, 94, 0, 0.9), 0.1135836001em 2.3020414705em 7px rgba(0, 216, 255, 0.9), -0.2337598207em 1.7791382038em 7px rgba(0, 42, 255, 0.9), 1.2424902767em 0.2782795875em 7px rgba(0, 179, 255, 0.9), 1.6356304184em -0.1729717985em 7px rgba(0, 240, 255, 0.9), 0.7460970708em 2.168651001em 7px rgba(20, 0, 255, 0.9), 1.7519625031em 0.7544165945em 7px rgba(255, 74, 0, 0.9), 0.0504866675em 2.4627583751em 7px rgba(148, 0, 255, 0.9), 1.8617805103em -0.2755913372em 7px rgba(255, 142, 0, 0.9), 0.9280483089em 0.1471692379em 7px rgba(181, 0, 255, 0.9), -0.3123809325em 1.1617816684em 7px rgba(64, 255, 0, 0.9), 0.1200498171em -0.1070787758em 7px rgba(101, 0, 255, 0.9), 1.0085945502em -0.0816397323em 7px rgba(255, 0, 88, 0.9), -0.0770013459em 1.9002956509em 7px rgba(255, 0, 24, 0.9), 1.4559642922em 2.0148608251em 7px rgba(0, 20, 255, 0.9), 1.4296842615em 2.0863157054em 7px rgba(0, 3, 255, 0.9), 1.6522405463em 0.6544225799em 7px rgba(0, 132, 255, 0.9);
  animation-duration: 62s;
  animation-delay: -63s;
}

head::after {
  text-shadow: 1.0411272925em 0.2162735794em 7px rgba(0, 88, 255, 0.9), 2.4956241902em 1.4899139891em 7px rgba(255, 0, 50, 0.9), 2.3167696046em 0.8645217843em 7px rgba(0, 255, 175, 0.9), -0.1380304952em 1.8999850608em 7px rgba(4, 0, 255, 0.9), 0.4466381846em 1.3533096543em 7px rgba(255, 136, 0, 0.9), 1.4743172386em -0.4692712778em 7px rgba(255, 0, 72, 0.9), 0.5991319447em 0.5192115207em 7px rgba(47, 0, 255, 0.9), -0.2677997471em 1.3068501589em 7px rgba(83, 255, 0, 0.9), 0.1009846674em 0.597488819em 7px rgba(0, 169, 255, 0.9), 2.2135179776em 0.1118821025em 7px rgba(0, 73, 255, 0.9), 1.6616795318em 1.3904479249em 7px rgba(115, 255, 0, 0.9), -0.214257843em 0.2632658863em 7px rgba(224, 0, 255, 0.9), -0.2113751633em 1.6569629096em 7px rgba(130, 255, 0, 0.9), 1.8202239009em 0.2310781836em 7px rgba(73, 0, 255, 0.9), -0.2482530058em 0.7655873713em 7px rgba(255, 0, 10, 0.9), 0.1869854991em 1.2264043124em 7px rgba(90, 0, 255, 0.9), 0.2909821554em 0.2642292025em 7px rgba(204, 0, 255, 0.9), 0.747574772em 1.1750749912em 7px rgba(101, 0, 255, 0.9), 0.7683863695em 2.4636896842em 7px rgba(126, 0, 255, 0.9), 2.2327924963em 2.005318229em 7px rgba(16, 255, 0, 0.9), 0.7203356987em 2.2983972417em 7px rgba(8, 0, 255, 0.9), 2.0380780469em 1.6601337671em 7px rgba(0, 156, 255, 0.9), 1.9173862579em -0.436329952em 7px rgba(255, 0, 121, 0.9), 0.844142417em 2.486607339em 7px rgba(255, 0, 214, 0.9), 1.2444582147em 0.6634218111em 7px rgba(255, 0, 126, 0.9), 0.9871618629em 2.4906732147em 7px rgba(0, 88, 255, 0.9), 1.9412936094em 1.1166481156em 7px rgba(140, 0, 255, 0.9), 1.0219450435em 1.9842664823em 7px rgba(255, 0, 115, 0.9), -0.2138050248em 1.2584907005em 7px rgba(0, 62, 255, 0.9), -0.4937063883em 0.9159674091em 7px rgba(0, 255, 33, 0.9), 1.149490124em 0.842812053em 7px rgba(0, 41, 255, 0.9), 1.745205438em 1.623229025em 7px rgba(77, 0, 255, 0.9), 0.0861077988em 1.1371631821em 7px rgba(255, 33, 0, 0.9), 0.2717161698em 1.9445304565em 7px rgba(31, 0, 255, 0.9), 2.477993192em 1.8902321824em 7px rgba(0, 255, 45, 0.9), 0.3400009208em 1.9342215649em 7px rgba(255, 0, 211, 0.9), 1.4027679058em 2.281254617em 7px rgba(255, 175, 0, 0.9), 0.2975511687em 0.6138348666em 7px rgba(0, 255, 122, 0.9), 1.9275983482em 1.0882171854em 7px rgba(0, 62, 255, 0.9), 1.9442502138em 0.3073625101em 7px rgba(52, 255, 0, 0.9), 1.4207326764em -0.0841228496em 7px rgba(255, 187, 0, 0.9);
  animation-duration: 61s;
  animation-delay: -59s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
} */
